doctype html
html
  head
    // Content Metadata
    meta(charset='UTF-8')
    meta(http-equiv='Content-Security-Policy' content=`default-src 'self'; style-src 'self' https://fonts.googleapis.com 'unsafe-inline'; media-src *; img-src 'self'; font-src 'self' https://fonts.gstatic.com;`)
      
    // Mobile Settings
    meta(name='format-detection' content='telephone=no')
    meta(name='msapplication-tap-highlight' content='no')
    meta(name='viewport' content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
      
    // Application Metadata
    meta(name='description' content=app.desc)
    meta(name='author' content=app.author)
    meta(name='keywords' content=app.keywords ? app.keywords.join(',') : '')
    title= `${app.productName} v${app.version}`
      
    // Scripts
    script(src='/node_modules/jquery/dist/jquery.min.js' type='text/javascript')
    script(src='/node_modules/velocity-animate/velocity.min.js' type='text/javascript')
    script(src='/index.js' type='text/javascript')
    block scripts
      
    // Styles
    link(href='style/core.css' rel='stylesheet' type='text/css')
    block styles
  body
    section#sectionLanguageSelect.section
      div.section-container
        each lang in app.config.localization
          h2.language-prompt(data-locale='meta.prompt' data-locale-lang=lang)
        hr
        each lang in app.config.localization
          button.language-button(data-locale='meta.name' data-locale-lang=lang)
    h1(data-locale='app.title')
    
